<div id="<%= dom_id comment %>">
  <p>
    <strong><%= User.model_name.human %>:</strong>
    <%= comment.display_user_name %>
  </p>
  <p>
    <strong><%= Comment.human_attribute_name(:content) %>:</strong>
    <%= comment.content %>
  </p>
  <p>
    <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
    <%= l(comment.created_at, formats: :dafault) %>
  </p>
</div>
