<h1><%= t('views.common.title_edit', name: Comment.model_name.human.downcase) %></h1>

<%= form_with(model: [@commentable, @comment]) do |form| %>
  <%= form.text_area :content, rows:'5', value: @comment.content, required: true %>
  <%= form.submit %>
<% end %>
<%= link_to t('views.common.show', name: @comment.commentable.model_name.human.downcase), @comment.commentable %>
