<div id="<%= dom_id user %>">
  <p>
    <strong><%= User.human_attribute_name(:name) %></strong>
    <%= user.name %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:profile_text) %></strong>
    <%= user.profile_text %>
  </p>

</div>
