<h1><%= t('views.common.title_index', name: (Book.model_name.human)) %></h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to t('views.common.move_to_detail'), book %>
    </p>
  <% end %>
</div>
<%= paginate @books %>
<%= link_to t('.add_new_book'), new_book_path %>
