<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t('.edit_book'), edit_book_path(@book) %>
  <%= link_to t('.back_to_index'), books_path %>
  <%= button_to t('.destroy_book'), @book, method: :delete %>
</nav>
