<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t('books.page_link.edit_book'), edit_book_path(@book) %>
  <%= link_to t('books.page_link.back_to_index'), books_path %>
  <%= button_to t('books.page_link.destroy_book'), @book, method: :delete %>
</nav>
