<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div style="color: red">
      <h2><%= t('views.common.validation_error', errors: i18n_error_count(report.errors.count), name: Report.model_name.human.downcase) %>:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, required: true %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
