<div id="<%= dom_id @report %>">
  <p>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= @report.title %>
  </p>

  <p>
    <strong><%= User.model_name.human %>:</strong>
    <%= @report.user.display_user_name %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:content) %>:</strong>
    <%= @report.content %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:created_at) %>:</strong>
    <%= I18n.l(@report.created_at) %>
  </p>

</div>
