<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<%= render @report %>

  <div>
  <% if @report.user == current_user %>
    <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@report) %> |
    <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>

    <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete %>
  <% else %>
    <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>
  <% end %>
</div>

<h2><%= t(Comment.model_name.human) %></h2>

<%= render partial: 'shared/comment_post_form', locals: { commentable: @report, comment: @comment } %>
<%= render partial: 'shared/comments', locals: { commentable: @report, comment: @comment } %>
