<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">

  <p class="navbar-text float-right">
  <% if user_signed_in? %>
  <%= t('.logged_in_as') %> <%= current_user.email %> |
  <%= link_to t('.edit_profile'), edit_user_registration_path, class: "navbar-link" %> |
    <%= link_to t('.logout'), destroy_user_session_path, data: { turbo_method: :delete }, class: "navbar-link" %>
  <% end %>
  </p>
  <% if notice %>
    <p class="alert alert-success" style="color: green"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger" style="color: green"><%= alert %></p>
  <% end %>
  <%= yield %>
  </body>
</html>
